<!DOCTYPE html>
<html lang="ru">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Добавление паспорта</title>
</head>
<body>
<div class="container"><b><br>Добавление паспорта ЧЖС: Сейчас максимальный номер в базе = </b>
</div>
<br>

<form action="" method="post">
    {% csrf_token %}
    {% comment %}
    {{ form.as_p }}
    {% endcomment %}
<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <label for="{{ form.pas_number.id_for_lable }}" class="form-label">Номер паспорта:</label>
            {{ form.pas_number }}
        </div>
        <div class="col-lg-3">
            <label for="{{ form.mkr_name_pas.id_for_lable }}" class="form-label">Район:</label>
            {{ form.mkr_name_pas }}
        </div>
        <div class="col-lg-4">
            <label for="{{ form.pas_adress.id_for_lable }}" class="form-label">Адрес объекта:</label>
            {{ form.pas_adress }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <label for="{{ form.stages.id_for_lable }}" class="form-label">Этажность:</label>
            {{ form.stages }}
        </div>
        <div class="col-lg-3">
            <label for="{{ form.walls_material.id_for_lable }}" class="form-label">Материал стен:</label>
            {{ form.walls_material }}
        </div>
        <div class="col-lg-4">
            <label for="{{ form.type_heat.id_for_lable }}" class="form-label">Тип отопления:</label>
            {{ form.type_heat }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <label for="{{ form.apis.id_for_lable }}" class="form-label">Наличие АПИ:</label>
            {{ form.apis }}
        </div>
        <div class="col-lg-3">
            <label for="{{ form.apis_works.id_for_lable }}" class="form-label">Исправные АПИ:</label>
            {{ form.apis_works }}
        </div>
        <div class="col-lg-4">
            <label for="{{ form.electric.id_for_lable }}" class="form-label">Электрофицирован:</label>
            {{ form.electric }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <label for="{{ form.living.id_for_lable }}" class="form-label">Кол-во жильцов:</label>
            {{ form.living }}
        </div>
        <div class="col-lg-3">
            <label for="{{ form.childrens.id_for_lable }}" class="form-label">Дети:</label>
            {{ form.childrens }}
        </div>
        <div class="col-lg-4">
            <label for="{{ form.characteristic.id_for_lable }}" class="form-label">Характеристика проживающих:</label>
            {{ form.characteristic }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <label for="{{ form.owner_name.id_for_lable }}" class="form-label">ФИО собственника:</label>
            {{ form.owner_name }}
        </div>
        <div class="col-lg-3">
            <label for="{{ form.date_owner.id_for_lable }}" class="form-label">Дата:</label>
            <br>
            {{ form.date_owner }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <label for="{{ form.woker.mchs.id_for_lable }}" class="form-label">ФИО Сотрудника:</label>
            {{ form.woker_mchs }}
        </div>
        <div class="col-lg-3">
            <label for="{{ form.woker_date.id_for_lable }}" class="form-label">Дата:</label>
            <br>
            {{ form.woker_date }}
        </div>
    </div>
        <br><button type="submit" class="btn btn-primary btn-block">Сохранить изменения</button>
        <a href="{% url 'main' %}"><input type="button" class="btn btn-primary btn-block" value="На главную"></a>
</div>
</form>
</body>
</html>













